{% extends 'main/layout.html' %}

{% block title %}l e x P l i t k a{% endblock %}

{% block content %}

            <div class="main-content">
                <h1 class="main-title">
                    Контакти для зв'язку з нами 
                    <br>
                    у   
                    <span class="title-green">зручний</span>
                    для Вас
                    <span class="title-green">час</span>
                </h1>
                <div class="contact__img">
                    <img src="../files/covers/telephone2.png" alt="">
                </div>
                
                <div class="contuner">
                
                    <div class="contact_container">
                        
                        <div class="contact__content">
                            <p class="contact_font">
                                <H5>Телефони</H5>
                                
                                <br>
                                <br>
                                <svg id="tel1" xmlns="http://www.w3.org/2000/svg"
                                    height="1em"
                                    margin-left="0"
                                    viewBox="0 0 512 512">

                                    <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path fill="aqua" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                                </svg>
                                +380930789212
                                <br>
                                <br> 
                                <svg id="tel1" xmlns="http://www.w3.org/2000/svg"
                                    height="1em"
                                    viewBox="0 0 512 512">
                                    <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path fill="aqua" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                                </svg>
                                +380930789212
                            </p>
                        </div>
                    
                        <div class="contact__content">
                            <p class="contact_font">
                            <H5>E-mail</H5>
                                
                                <br>
                                <br>
                                <svg id=" id="email""
                                height="1em" 
                                viewBox="0 0 236 150" 
                                fill="aqua" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.7582 0.735352C14.3799 0.735352 11.2794 1.75023 8.62814 3.42035L110.3 89.4321C114.954 93.3745 121.228 93.3745 125.872 89.4321L227.365 3.42035C224.715 1.75023 221.615 0.735352 218.235 0.735352H17.7582ZM1.55818 12.2803C0.944914 14.0483 0.573242 15.9342 0.573242 17.9178V132.478C0.573242 135.928 1.61003 139.099 3.34818 141.786L76.1147 75.468L1.55818 12.2803ZM234.438 12.2803L160.06 75.3801L232.648 141.789C234.385 139.102 235.423 135.932 235.423 132.482V17.9218C235.423 15.9381 235.05 14.0481 234.438 12.2803ZM151.295 82.8937L133.215 98.1988C124.47 105.616 111.619 105.606 102.875 98.1988L84.8846 82.9838L12.6551 148.856C14.2714 149.355 15.9715 149.661 17.7575 149.661H218.237C220.021 149.661 221.723 149.355 223.34 148.856L151.295 82.8937Z" 
                                    fill="aqua"/>
                                </svg>
                                
                                    malynovskijalex23@gmail.com              
                            </p>
                        </div>
                    
                        <div class="contact__content">
                            <p class="contact_font">
                            <H5>Ми в сoцмережах</H5>
                                
                                <br>
                                <br>
                                {% comment %} <svg xmlns="http://www.w3.org/2000/svg"  
                                    viewBox="0 0 32 32" 
                                    height="2em">
                                    <path fill="aqua" d="M 11.46875 5 C 7.917969 5 5 7.914063 5 11.46875 L 5 20.53125 C 5 24.082031 7.914063 27 11.46875 27 L 20.53125 27 C 24.082031 27 27 24.085938 27 20.53125 L 27 11.46875 C 27 7.917969 24.085938 5 20.53125 5 Z M 11.46875 7 L 20.53125 7 C 23.003906 7 25 8.996094 25 11.46875 L 25 20.53125 C 25 23.003906 23.003906 25 20.53125 25 L 11.46875 25 C 8.996094 25 7 23.003906 7 20.53125 L 7 11.46875 C 7 8.996094 8.996094 7 11.46875 7 Z M 21.90625 9.1875 C 21.402344 9.1875 21 9.589844 21 10.09375 C 21 10.597656 21.402344 11 21.90625 11 C 22.410156 11 22.8125 10.597656 22.8125 10.09375 C 22.8125 9.589844 22.410156 9.1875 21.90625 9.1875 Z M 16 10 C 12.699219 10 10 12.699219 10 16 C 10 19.300781 12.699219 22 16 22 C 19.300781 22 22 19.300781 22 16 C 22 12.699219 19.300781 10 16 10 Z M 16 12 C 18.222656 12 20 13.777344 20 16 C 20 18.222656 18.222656 20 16 20 C 13.777344 20 12 18.222656 12 16 C 12 13.777344 13.777344 12 16 12 Z"/>
                                </svg> {% endcomment %}
                                
                                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-xl" id="insta" style=" color: aqua; " alt="Instagram icon"></i>  Instagram</a>
                                <br>
                                <br> 
                                {% comment %} <svg xmlns="http://www.w3.org/2000/svg"  
                                    viewBox="0 0 48 48"
                                    height="1.5em">
                                    <path fill="aqua" d="M5.83,23.616c12.568-5.529,28.832-12.27,31.077-13.203c5.889-2.442,7.696-1.974,6.795,3.434 c-0.647,3.887-2.514,16.756-4.002,24.766c-0.883,4.75-2.864,5.313-5.979,3.258c-1.498-0.989-9.059-5.989-10.7-7.163 c-1.498-1.07-3.564-2.357-0.973-4.892c0.922-0.903,6.966-6.674,11.675-11.166c0.617-0.59-0.158-1.559-0.87-1.086 c-6.347,4.209-15.147,10.051-16.267,10.812c-1.692,1.149-3.317,1.676-6.234,0.838c-2.204-0.633-4.357-1.388-5.195-1.676 C1.93,26.43,2.696,24.995,5.83,23.616z"/>
                                </svg> {% endcomment %}
                                <a href="https://t.me/plitochnik_alex"><i class="fa-brands fa-telegram fa-lg" id="Teleg" style=" color: aqua; " alt="Telegram icon"></i> Telegram</a>
                            </p>
                        </div>
                    </div>
                    <div class="btn">
                        <a href="{% url 'order_form' %}" class="header-content-btn">Ми передзвонимо Вам</a>
                    </div>
                </div>

                <p class="quote">За час нашої діяльності ми зібрали команду кращих вузькоспециализирущих майстрів, спеціалістів широкого профілю, кращих техніків, електронників, будівельників і майстрів своєї справи. Це дозволило нам вийти на високий рівень на ринку будівництва та ремонту.
                    Ми вузько спеціалізуємось на будівельних роботах. Досвід майстрів нашої компанії дозволить виконати навіть найнеймовірніші задуми. Всі види будівельних робіт, які роблять наші бригади майстрів - це роботи найвищої якості.</p>
               
            </div>

            
            
{% endblock %}

<!-- <input name="email" type="email" placeholder="Введіть ваш e-mail (необов'язково)" class="form-control" id="exampleInputEmail1"><br>-->
<!--    <h6>Ми зателефонуємо вам у вказаний вами час:</h6>-->
<!--                      <input type="date" class="form-control"><br>-->
<!--                      <input type="time" class="form-control"><br>-->
<!--<button class="header-content-btn" type="submit">Надіслати запит</button>-->