{% extends 'main/layout.html' %}

{% block title %}l e x P l i t k a{% endblock %}


{% block content %}
            <div class="main-content">
                <h1 class="main-title">
                    Наша команда завжди працює на результат
                </h1>
                <p>За час нашої діяльності ми зібрали команду кращих узкоспециализирущих майстрів, спеціалістів широкого профілю, кращих техніків, електронників, будівельників і майстрів своєї справи. Це дозволило нам вийти на високий рівень на ринку будівництва та ремонту.
                    Ми вузько спеціалізуємось на будівельних роботах. Досвід майстрів нашої компанії дозволить виконати навіть найнеймовірніші задуми. Всі види будівельних робіт, які роблять наші бригади майстрів - це роботи найвищої якості.</p>
                <div class="btn">
                    <a href="{% url 'services' %}" class="header-content-btn">Дізнатись про послуги</a>
                </div>
            </div>
           

{% endblock %}


