{% extends 'main/layout.html' %}

{% block title %}l e x P l i t k a{% endblock %}


{% block content %}
            <div class="main-content">
                <h1 class="main-title">
                    Ми працюємо лише з 
                    <span class="title-green">досвідченними</span>
                    <br>
                    <span class="title-green"> професіоналами</span>
                    !
                </h1>
                <div class="contact__img">
                    <img src="../files/covers/glov.png" alt="">
                </div>

                <div class="card_container">
                    <ul class="cards">

                        


                        <li class="cards__item">
                        {% for master in masters %} 
                
                            
                            
                            <article class="card">
                                <div class="card__image">
                                    <img src="{{master.image.url}}" alt="">    
                                </div>
                                <div class="card__content">
                                    <h3 class="card__title">{{ master.name}}</h3>
                                    
                                    <div>
                                        <p class="card__descr collapse" id="collapseElement{{master.id}}">
                                            
                                            Подробное описание услуги
                                            Ціна {{master.price}} грн/м.кв
                                            Подробное описание услуги
                                            Ціна {{master.price}} грн/м.кв
                                            Ціна {{master.price}} грн/м.кв
                                        </p> 
                                        <button data-bs-toggle="collapse" data-bs-target="#collapseElement{{master.id}}" class="card__btn">Більше...</button>
                                    </div>
                                    
                                </div>
                             </article>


                        {% endfor %}
                            

                            
                        </li>
                    </ul>
                </div>
                <p class="quote">
                    За час нашої діяльності ми зібрали команду кращих узкоспециализирущих майстрів, спеціалістів широкого профілю, кращих техніків, електронників, будівельників і майстрів своєї справи. Це дозволило нам вийти на високий рівень на ринку будівництва та ремонту.
                    Ми вузько спеціалізуємось на будівельних роботах. Досвід майстрів нашої компанії дозволить виконати навіть найнеймовірніші задуми. Всі види будівельних робіт, які роблять наші бригади майстрів - це роботи найвищої якості.
                </p>
               
                       
            </div>

       
            

{% endblock %}