{% extends 'main/layout.html' %}

{% block title %}Services{% endblock %}


{% block content %}
            <div class="main-content">
                <h1 class="main-title">
                    Види наших робіт за які ми
                    <span class="title-green">несемо відповідальність</span>
                    !
                </h1>
                
                <div class="contact__img content_for_all">
                    <img src="../files/covers/hummer2.png" alt="">
                </div>
               
                <div class="card_container">
                    <ul class="cards">
                        
                        <li class="cards__item">
                        {% for product in products %}
                            <article class="card">
                                <div class="card__image title_image">
                                    <img src="{{ product.image.url}}" alt="">    
                                </div>
                                <div class="card__content px-4 pt-2">
                                    <h3 class="card__title">{{product.name}}</h3>
                                    {% comment %} <p class="card__descr">
                                        Подробное описание услуги
                                    </p> {% endcomment %}
                                    <div>
                                        <div class="addons hide " style="text-align: left;">
                                            <h3 class="card__title title-phone">
                                                 {{ product.phone}}
                                            </h3>
                                            
                                            <p class="py-4">
                                                {{product.description}}
                                            </p>
    
                                            {% for field in product.addons_fields %}
                                                <p>
                                                    {{field}}
                                                </p>
                                            {% endfor %}
                                            
                                            
                                            
    
                                           <div class="mx-auto mt-4" >
                                                <a class="button" style="width: min-content; margin: 0 auto;"
                                                 href="{% url 'order_form' %}">
                                                    <svg id="tel" xmlns="http://www.w3.org/2000/svg"
                                                            height="1em"
                                                            viewBox="0 0 512 512">
                                                            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                                        <path fill="#fff" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                                                    </svg>
                                                    Зв'язок
                                                </a>
                                           </div> 
                                            
                                            
                                            
                                        </div>
                                        <button class="card__btn">Більше...</button>
                                    </div>
                                    
                                </div>
                             </article>
                            {% endfor %} 
                            
                        </li>
                    </ul>
                </div>
                <p class="quote content_for_all">За час нашої діяльності ми зібрали команду кращих узкоспециализирущих майстрів, спеціалістів широкого профілю, кращих техніків, електронників, будівельників і майстрів своєї справи. Це дозволило нам вийти на високий рівень на ринку будівництва та ремонту.
                    Ми вузько спеціалізуємось на будівельних роботах. Досвід майстрів нашої компанії дозволить виконати навіть найнеймовірніші задуми. Всі види будівельних робіт, які роблять наші бригади майстрів - це роботи найвищої якості.</p>
               
            </div>
            
{% endblock %}